<div class="post my-5 mx-5">
    <div class="post-header">
        <div class="heading-user-info">
            <fa-icon class="profileIcon" [icon]="profileIcon"></fa-icon>
            <p class="my-3">{{post.userName}}</p>
        </div>
        <div class="heading-menu">
            <button mat-icon-button [matMenuTriggerFor]="menu" class="btn btn-primary" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="deleteHandler()">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <div class="post-content">
        <p>{{post.content}}</p>
        <div *ngIf=post.imageUrl class="post-image">
            <img [src]=[post.imageUrl] alt="">
        </div>
    </div>
    <div class="post-actions">
        <fa-icon [icon]="likeIcon"></fa-icon>
        <fa-icon [icon]="commentIcon"></fa-icon>
        <fa-icon [icon]="sendIcon"></fa-icon>
    </div>
    <div class="post-comments">
        <p>Date: <time>{{post.createdOn | timeDiff}}</time></p>
        <p>Id: {{post.id}}</p>
    </div>
</div>