<div class="post my-5 mx-5">
    <div class="post-header">
        <fa-icon [icon]="profileIcon"></fa-icon>
        <p><span>{{post.UserName}}</span></p>
    </div>
    <div class="post-content">
        <p>{{post.Content}}</p>
        <div *ngIf=post.imageUrl class="post-image">
            <img [src]=[post.imageUrl] alt="">
        </div>
    </div>
    <div class="post-actions">
        <fa-icon [icon]="likeIcon"></fa-icon>
        <fa-icon [icon]="commentIcon"></fa-icon>
        <fa-icon [icon]="sendIcon"></fa-icon>
    </div>
    <div class="post-comments">
        <p>Date: <time>{{post.CreatedOn}}</time></p>
    </div>
</div>