<div class="create-form mx-5 mb-3 mt-1 w-100">
    <form [formGroup]="form" (ngSubmit)="sumbitHandler()" class="p-2">
        <div class="form-group">
            <mat-form-field appearance="standard" [style.width.%]="100">
                <mat-label>Content</mat-label>
                <textarea matInput formControlName="Content" rows="3"></textarea>
            </mat-form-field>
        </div>
        <div class="form-group" *ngIf="showImg">
            <mat-form-field appearance="standard" [style.width.%]="100">
                <mat-label>Image Url</mat-label>
                <input matInput formControlName="ImageUrl" type="text">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-icon (click)="showImgHandler()">picture_as_pdf</mat-icon>
            <button mat-raised-button color="primary" [disabled]="!form.valid">Post</button>
        </div>
    </form>
</div>