<aside class="m-4 p-2 border">
    <div class="row user-info">
        <div class="col-sm-4">
            <div class="profile-image">
                <img src="https://picsum.photos/200/300?random=2" alt="" class="rounded-circle img-thumbnail m-auto" style="width: 100px; height: 100px;">
            </div>
        </div>
        <div class="col">
            <div class="profile-info">
                <p class="h4">Nickname</p>
                <p>Full Name</p>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</aside>