div.controls {
    display: inline-flex;
    div.like {
        div.like-button {
            width: 30px;
            height: 30px;
            display: inline-flex;
            color: black;
            font-size: 25px;
        }
        div.like-button:hover {
            color: red;
        }
        div.like-count {
            padding: 10px;
            display: inline-flex;
            color: black;
        }
    }
    div.comment {
        div.comment-icon {
            width: 30px;
            height: 30px;
            display: inline-flex;
            color: black;
            font-size: 25px;
        }
        div.comment-count {
            padding: 10px;
            display: inline-flex;
            color: black;
        }
    }
}

div.comment-section {
    div.comment {
        border-left: 1px solid gray;
        padding-left: 10px;
        p {
            padding-left: 25px;
        }
    }
}
