<mdb-card> 
    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <!-- Card img -->
        <mdb-card-img
            src="{{post?.imageUrl}}"
            alt="Card image cap"></mdb-card-img>
        <a>
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>
    <!--Card content-->
    <mdb-card-body class="text-center">
        <!--Title-->
        <mdb-card-title>
            <h4>{{post?.id}}</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text> 
            {{post?.content}}
        </mdb-card-text>

        <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
    </mdb-card-body>
</mdb-card>